<<<<<<< HEAD
footer {
  background-color: #030303;
  min-height: 300px;
  height: 100vh;
}

.block-container {
  color: #F3F3F3;
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  grid-template-columns: 15px 20% 1fr 1fr 1fr 1fr 1fr 15px;
  grid-template-rows: auto auto auto auto;
}

.title {
  overflow-wrap: break-word;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 100px;
  grid-column: 1 / 5;
  grid-row: 1 / 4;
}

.title h1 {
  font-size: 18vw;
  line-height: .75;
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 32pt;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 28pt;
}
h2.sub {
    font-family: 'Raleway Medium', sans-serif;
}

.contact-container {
  grid-column: 5 / 8;
  grid-row: 1;
}

.page-tech {
  grid-column: 5 / 8;
  grid-row: 2;
}

.page-rating {
  grid-column: 5 / 8;
  grid-row: 3;
}

.page-source {
  grid-column: 5 / 8;
  grid-row: 4;
}

.contact-container div{
    display: inline-block;    width: calc(33% - 35px);
    padding: 20px 15px;
}

.contact-container img{
    width: 100%;
=======
footer{
    background-color: #030303;
    min-height: 300px;
    height: 100vh;
>>>>>>> 8a335c3383af6305be8e58261a70822122a3a0ae
}