<footer>
  <div class="block-container">
    <div class="title">
      <h1>CON</h1>
      <h1>TAC</h1>
      <h1>T.</h1>
    </div>
    <div class="contact-container">

      <div>
        <a href="">
          <img src="./assets/img/contact/mail_light-circle@0.5x.png" />
        </a>
      </div>

      <div>
        <a href="">
          <img src="./assets/img/contact/stack_light-circle@0.5x.png" />
        </a>
      </div>

      <div>
        <a href="">
          <img src="./assets/img/contact/in_light-circle@0.5x.png" />
        </a>
      </div>

    </div>

    <!-- <div class="page-tech">
      <h2 class="sub">About This Page</h2>
      <p>Created using: </p>
    </div> -->

    <!-- <div class="page-rating">
      google light room results
    </div> -->

    <div class="page-source">
        <a href="">View on Github</a>
    </div>

  </div>
</footer>
