<footer class="background-ground">
    <div class="block-container">
      <div class="page-title">
        <h1>CON</h1>
        <!-- <h1>TAC</h1>
        <h1>T.</h1> -->
      </div>
      <div class="contact-container">
  
        <!-- <div>
          <a href="mailto:patrick.moloney@ymail.com">
            <img src="./assets/img/contact/mail_light-circle@0.5x.png" />
          </a>
        </div>
  
        <div>
          <a target="_blank" href="https://stackoverflow.com/users/6550273/p-moloney">
            <img src="./assets/img/contact/stack_light-circle@0.5x.png" />
          </a>
        </div>
  
        <div>
          <a target="_blank" href="https://www.linkedin.com/in/moloneypatrick/">
            <img src="./assets/img/contact/in_light-circle@0.5x.png" />
          </a>
        </div>
        <div>
          <a target="_blank" href="https://github.com/rollafox/rollafox-scoller">
            <img src="./assets/img/contact/white-github-512.png" />
          </a>
        </div> -->
  
      </div>
  
    </div>
  </footer>
  