<section class="page-inner-view"  style="color: #fff;
z-index: 10;
display: grid;
grid-template-columns: 15px 1fr 1fr 1fr 1fr 1fr 300px 15px;
grid-template-rows: 25px auto auto auto 25px;
width: calc(100% - 160px);
height: calc(100vh - 160px);">

  <div class="page-title">
    <h1 class="" style="color: #cc0000;
    -webkit-background-clip: text;
    position: relative;
    text-align: right;
    margin: 0;
    line-height: .72;
    position: relative;
    top: -22px;
    right: -24px;">Friggin</h1>
  </div><div class="" style="
  grid-column: 1 / 6;
  grid-row: 1 / 6;"></div>
</section>