.page-inner-view {
  
  border-color: #cc0000;
  border-style: solid;
  border-width: 80px;/* 
  background-color: rgba(240, 240, 240, .5); */
  width: calc(100% - 160px);
  height: calc(100vh - 160px);
  position: fixed;
  top: 0;
  left: 0;
}

.page-title {
  overflow-wrap: break-word;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 238px;
  grid-column: 6 / 9;
  grid-row: 1 / 6;
}
