<section class="page-view">
  <div class="about">

    <div class="copy-container">

      <div class="page-title">
        <h1 class="background_stars">ABOUT.</h1>
      </div>
      <div class="intro">
        <p>My name is Patrick Moloney. Base in South Africa with around six years of experience within web development.
        </p>
        <p>My knowledge has stemmed from a PHP and jQuery stack background- originally commissioned to create a web application
          assisting the people of the world to locate a good cup'a of coffee which utilised the google maps api and a whole
          lot of data capturing.
        </p>
        <p>To present I've been delving deep into the Javascript world, working for a telecommunications company, in which I
          have gained much proficiency. Focused on creating enterprize applications for internal use, I've coded a highly
          reusable and scalable Angular code base for current and future development.
        </p>
        <p>I've been getting a real kick out of creating highly performant code.</p>
        <p>In the near future I want to better my skills in both design and back-end development to push myself into being amongst
          the best full-stack web developers in South Africa.
        </p>
      </div>
      <div class="main">
      </div>
      <div class="back-image-bottom">

      </div>
    </div>
  </div>
</section>
