<section class="page-view">
  <div class="about">
    <div class="title">
      <h1>ABOUT</h1>
    </div>

    <div class="copy-container">
      <div class="intro">
        <p>
          Hi there, my name is Patrick Moloney, I am a 26 year old web developer base in South Africa.
        </p>
        <p>
            Most of my experience is in creating and maintaining enterprize applications- generally massive forms with complex validation. Reusablity, scalability, efficiency, performace and what-not.
        </p>
        <p>
            I like chess, bikes, billiards, and beer, but mostly coding and coffee... Front-end dev is my thing.
        </p>
      </div>
      <div class="main">
      </div>
      <div class="tech">
            <h2>Stack</h2>
            <div class="tech-img">

            </div>
      </div>
    </div>
  </div>
</section>
