<section class="page-inner-view"  style="color: #fff;
z-index: 10;
display: grid;
grid-template-columns: 15px 530px 1fr 1fr 1fr 1fr 1fr 15px;
grid-template-rows: 25px auto auto auto 25px;
width: calc(100% - 160px);
height: calc(100vh - 160px);">

  <div class="page-title">
    <h1 class="" style="color: #f4cb42;
    -webkit-background-clip: text;
    position: relative;
    text-align: left;
    margin: 0;
    line-height: .81;
    position: relative;
    top: -20px;
    left: -20px;">Tracker</h1>
  </div><div class="" style="
  grid-column: 3 / 9;
  grid-row: 1 / 6;"></div>
</section>