<nav class="static-subnav">
  <div class="static-subnav__item" (click)="linearTransition(direction.PREVIOUS)">
    <-</div> <div class="static-subnav__item" (click)="directSubNavigation(null, 'projects/')">•
  </div>
  <div class="static-subnav__item" (click)="directSubNavigation(projects.TRACKER)">•</div>
  <div class="static-subnav__item" (click)="directSubNavigation(projects.DVT)">•</div>
  <div class="static-subnav__item" (click)="directSubNavigation(projects.HUGE)">•</div>
  <div class="static-subnav__item" (click)="directSubNavigation(projects.FRIGGIN)">•</div>
  <div class="static-subnav__item" (click)="linearTransition(direction.NEXT)">-></div>
</nav>

<section class="page-view background_stars" (keyup.arrowleft)="linearTransition(direction.PREVIOUS)" (keyup.arrowright)="
  linearTransition(direction.NEXT)">
  <div class="page-base-container" [@oneThirdHorizontalTransition]="navigationState.mainPageState">
    <div class="page-grid">

      <div class="page-title">
        <h1 class="background_stars">Projects.</h1>
      </div>

      <div class="page-base-nav"></div>

      <div class="page-content">
        <p>Trifecta in, caramelization, rich frappuccino iced flavour redeye. Strong, siphon et extra at cappuccino
          grinder plunger pot mocha single origin.</p>
        <p>Roast doppio medium coffee, coffee, filter percolator robust cortado java robust. Whipped beans aroma so,
          carajillo cortado white aged aroma.</p>
        <p>That, redeye, as trifecta, instant, cappuccino iced wings con panna doppio. Ristretto percolator medium in,
          cup, so viennese that carajillo saucer.</p>
      </div>

    </div>
  </div>

  <div class="page-secondary-container" [@oneThirdHorizontalTransition]="navigationState.secondaryPageState">
    <div class="page-grid">
      <div class="page-title page-secondary-title">
        <h1 class="background_stars">RANDOM.</h1>
      </div>
    </div>
  </div>
</section>

<pmp-horizontal-page-transitions-router [linearNavigationTrigger]="linearNavigationTrigger" [navigationTrigger]="navigationTrigger"
  (navigated)="onNavigationComplete($event)"></pmp-horizontal-page-transitions-router>
