
.page-title {
  overflow-wrap: break-word;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 100px;
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}

.page-title h1 {
  font-size: 20vw;
  line-height: .75;
}


/* h1 {
  margin: 0;
  font-size: 30pt;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 28pt;
}

.skills {
  background-color: #C00C00;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 800px;
  overflow: hidden;
}

.copy-container {
  color: #fff;
  z-index: 10;
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-columns: 15px 1fr 1fr 1fr 1fr 20% 15px;
  grid-template-rows: 25px 1fr 1fr 1fr 25px;
}

.skill-0 {
  grid-column: 2;
  grid-row: 2;
}

.skill-1 {
  grid-column: 3;
  grid-row: 2;
}

.skill-2 {
  grid-column: 4;
  grid-row: 2;
}

.skill-3 {
  grid-column: 2;
  grid-row: 3;
}

.skill-4 {
  grid-column: 3;
  grid-row: 3;
}

.skill-5 {
  grid-column: 4;
  grid-row: 3;
}

.skill-6 {
  grid-column: 2;
  grid-row: 4;
}

.skill-7 {
  grid-column: 3;
  grid-row: 4;
}

.skill-8 {
  grid-column: 4;
  grid-row: 4;
}

.card--enlarged {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
}

.copy h2 {
  color: #fff;
  font-size: 28pt;
  margin-bottom: 0;
  font-family: 'Raleway Medium', sans-serif;
  text-align: center;
}

.copy {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 -1px 18px 0 rgba(0, 0, 0, .12);
  border: solid 3px #fff;
  color: #fff;
}

.sub {
  text-align: center;
  font-family: 'Raleway Medium', sans-serif;
  margin-top: 0;
} */
