<section class="page-view">
  <div class="skills">
    <div class="copy-container">

      <div class="background">
      </div>

      <div class="page-title">
        <h1 class="background_stars">SK</h1>
        <h1 class="background_stars">IL</h1>
        <h1 class="background_stars">L.</h1>
      </div>

      <ng-container *ngIf="selected; else showAll">
        <div class="card--enlarged">
          <pmp-card [expand]="true" (card-clicked)="selected = null" [item]="selected"></pmp-card>
        </div>
      </ng-container>
      <ng-template #showAll>
        <ng-container *ngFor="let skill of skills | async; let i = index">
          <div class="skill-{{i}}">
            <pmp-card [expand]="false" (card-clicked)="selectedTech($event, skill)" [item]="skill"></pmp-card>
          </div>
        </ng-container>
      </ng-template>

    </div>
  </div>
</section>
