.tech-icon-container {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin: 2.5px;
  /* right: 18px;
  position: relative; */
  box-shadow: -1px -1px 10px rgba(33, 33, 33, 0.5);
}

.tech-icon-container img {
  margin: 15%;
  width: 70%;
}
